button{
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(179, 179, 179, 0.322);
  font-size: 18px;
  padding: 6px 10px;
  outline: none;
  display: inline;
}
button:hover{
  background-color: rgba(179, 179, 179, 0.89);;
}
.active{
  background-color: rgba(28, 168, 223, 0.788);
  color: white;
}
