<r-accordian [width]="'50%'" style="margin:  auto;">
  <r-accordianpanel [label]="'input field Demo'">
    <r-text [rtype]="'card-content'">
      <app-inputfield-demo></app-inputfield-demo></r-text>
  </r-accordianpanel>
  <r-accordianpanel [label]="'Check Box Demo'">
    <r-text [rtype]="'card-content'">
      <app-checkboxdemo></app-checkboxdemo>
      </r-text>
  </r-accordianpanel>
  <r-accordianpanel [label]="'Card Demo'">
    <r-text [rtype]="'card-content'">
      <app-carddemo></app-carddemo></r-text>
  </r-accordianpanel>
  <r-accordianpanel [label]="'Bread Crumb Demo'">
    <r-text [rtype]="'card-content'">
      <app-breadcrumb-demo></app-breadcrumb-demo></r-text>
  </r-accordianpanel>
  <r-accordianpanel [label]="'Menu Demo'">
    <r-text [rtype]="'card-content'">
      <app-menudemo></app-menudemo></r-text>
  </r-accordianpanel>
</r-accordian>
