<div>
  <table class="table">
    <tr>
      <th colspan="4" style="text-align: left;">
        <h2 style="margin-bottom: -20px;">
          Color Variants
        </h2>
      </th>
    </tr>
    <tr class="color-variants">
      <td>
        <r-text [rtype]="'label primary'">Primary </r-text>
      </td>
      <td>
        <r-text [rtype]="'label success'">Success </r-text>
      </td>
      <td>
        <r-text [rtype]="'label danger'">Danger </r-text>
      </td>
      <td>
        <r-text [rtype]="'label warning'">Warning </r-text>
      </td>
    </tr>
    <tr>
      <th colspan="4" style="text-align: left;">
        <h2 style="margin-bottom: -20px;">
          Text Variants
        </h2>
      </th>
    </tr>
    <td>
      <r-text [rtype]="'title '">Title</r-text>
    </td>
    <td>
      <r-text [rtype]="'subtitle'">subtitle</r-text>
    </td>
    <td>
      <r-text [rtype]="'card-title'">Card title</r-text>
    </td>
    <td>
      <r-text [rtype]="'card-subtitle'">Card Subtitle</r-text>
    </td>
    <td>
      <r-text [rtype]="'label'">Label</r-text>
    </td>
    <td>
      <r-text [rtype]="'card-content'">Card Contet</r-text>
    </td>
  </table>
</div>
