<div>
<table class="table">
    <tr>
      <th colspan="4" style="text-align: left;">
        <h2 >
          Button Variants
        </h2>
      </th>
    </tr>
    <tr class="color-variants">
      <td>
        <r-button [rclass]="'primary'" >Primary</r-button>
      </td>
      <td>
        <r-button [rclass]="'success'" >Success</r-button>
      </td>
      <td>
        <r-button [rclass]="'danger'" >Danger</r-button>
      </td>
      <td>
        <r-button [rclass]="'warning'" >Warning</r-button>
      </td>
    </tr>
    <tr>
      <th colspan="4" style="text-align: left;">
        <h2 >
          Stroked Button Variants
        </h2>
      </th>
    </tr>
    <td>
      <r-button [rclass]="'stroked-primary'" >Primary</r-button>
    </td>
    <td>
      <r-button [rclass]="'stroked-success'" >Success</r-button>
    </td>
    <td>
      <r-button [rclass]="'stroked-danger'" >Danger</r-button>
    </td>
    <td>
      <r-button [rclass]="'stroked-warning'" >Warning</r-button>
  </table>
</div>
